@import "tailwindcss";

:root {
  --background: #f7f3ee;
  --foreground: #3f332c;
  --muted: #8c7b70;
  --gold: #b49a72;
  --taupe: #b5a59b;
  --cream: #eee7df;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-gold: var(--gold);
  --color-taupe: var(--taupe);
  --color-cream: var(--cream);

  --font-title: var(--font-title);
  --font-title-italic: var(--font-title-italic);
  --font-subtitle: var(--font-subtitle);
  --font-body: var(--font-body);
}

.font-title {
  font-family: var(--font-title);
}

.font-title-italic {
  font-family: var(--font-title-italic);
}

.font-subtitle {
  font-family: var(--font-subtitle);
}

.font-subtitle.bold {
  font-family: var(--font-subtitle-bold);
}


.font-body {
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}